$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* We want as much horizontal space as we can get on
 * small screens. */
@media screen and (max-width: 767px) {
  .container {
    padding: 10px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.author-info {
  line-height: 50px;
  background-color: #F5F5F5;
  border: 1px solid #a7a7a7;
  padding-left: 0.5em;
}

.author-name {
  font-weight: bold;
}

.avatar {
  max-width: 50px;
  height: auto;
  width: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.post {
  padding-bottom: .6em;
};

.post-content
{
  background-color: #F5F5F5;
  padding: 0.5em;
  border-bottom: 1px solid #a7a7a7;
  border-left: 1px solid #a7a7a7;
  border-right: 1px solid #a7a7a7;
}

.post-actions {
  margin-top: 0.5em;
  margin-left: 1em;
}

.post-date {
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.posted-image {
  max-width: 100%;
  max-height: 480px;
  height: auto;
  width: auto;
}

.quoteheader {
  padding: 5px;
  background-color: #D5D5D5;
  font-weight: 500;
  width: 100%;
}

.quote {
  padding: 5px;
  background-color: #E5E5E5;
  width: 100%;
}

.board.row {
  border-bottom: 1px solid #E5E5E5;
}

/* A code block - maybe even PHP ;). */
.code
{
  color: #000000;
  background-color: #dddddd;
  font-family: "courier new", "times new roman", monospace;
  line-height: 1.3em;
  /* Put a nice border around it. */
  border: 1px solid #242424;
  border-left: 3px solid #242424;
  padding: 1px;
  /* Don't wrap its contents, and show scrollbars. */
  white-space: nowrap;
  overflow: auto;
  padding: 12px;
  /* Stop after about 24 lines, and just show a scrollbar. */
  max-height: 24em;
}

.quote
{
  color: #555;
  border-left: 3px solid #8C82A6;
}

/* The "Quote:" and "Code:" header parts... */
.quoteheader, .codeheader, .nwsheader, .spoilerheader, .tldrheader
{
  padding: 5px 8px;
  background-repeat: no-repeat;
  background-position: right;
  text-decoration: none;
  border-left: 3px solid #8C82A6;
  border-bottom: 0;
}

.codeheader
{
  background-color: #DDD;
  border: 1px solid #242424;
  border-left: 3px solid #242424;
  border-bottom: 0;
}

.hiddenheader
{
  cursor: pointer;
}

.nwsheader
{
  background-color: #EEE3E8;
  border: 1px solid #AE8EAC;
  border-left: 3px solid #AE8EAC;
  color: #757575;
}

.nwsblock
{
  color: #454545;
  background-color: #EEE3E8;
  border: 1px solid #AE8EAC;
  border-left: 3px solid #AE8EAC;
  border-top: 0;
}

.spoilerheader
{
  border: 1px solid black;
  border-left: 3px solid black;
  background-color: #454545;
  color: #FFFFFF;
}

.spoilerblock
{
  background-color: #454545;
  color: #FFFFFF;
  border: 1px solid black;
  border-left: 3px solid black;
  border-top: 0;
}

.tldrheader
{
  border: 1px solid #242424;
  border-left: 3px solid #242424;
  background-color: #F0EFE9;
  color: #242424;
}

.tldrblock
{
  background-color: #F0EFE9;
  border: 1px solid #242424;
  border-left: 3px solid #242424;
  border-top: 0;
}

.hiddenblock
{
  padding: 12px;
  display: none;
}

