<div class="container">
  <center>
    <div ng-if="invalidPost" style="color: red;">You cannot submit a blank post</div>
  </center>

  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default" ng-click="appendTag('b')">b</button>
    <button type="button" class="btn btn-default" ng-click="appendTag('i')">i</button>
    <button type="button" class="btn btn-default" ng-click="appendTag('img')">img</button>
    <button type="button" class="btn btn-default" ng-click="appendTag('s')">s</button>
    <button type="button" class="btn btn-default" ng-click="appendTag('move')">move</button>
    <button type="button" class="btn btn-default" ng-click="appendTag('youtube')">youtube</button>
    <button type="button" class="btn btn-default" ng-click="appendTag('nws')">nws</button>
    <button type="button" class="btn btn-default" ng-click="appendTag('code')">code</button>
    <button type="button" class="btn btn-default" ng-click="appendTag('tt')">tt</button>
  </div>

  <textarea id="post-input" class="form-control" rows="10" ng-bind-html="message"></textarea>
  <center>
    <button class="btn btn-primary btn-sm" ng-click="performPost();" style="margin: 15px;">Post</button>
  </center>
</div>
